.second {
  /* background-image: url(/images/area_bg02.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; */
  --site-margin: 0 0;

  background-color: #10181F;
  /* min-height: 850px; */
}

#spine_container canvas {
  touch-action: auto !important;
}

.second * {
  box-sizing: border-box;
}

.nft_site::after {
  content: "";
  display: block;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
  clip-path: polygon(0% 0%, 100% 0%, 93.846% 100%, 6.154% 100%, 0% 0%);
  width: 65px;
  height: 5px;
  margin: 20px var(--site-margin);
  background: var(--tg-theme-primary);
}

.sub {
  color: #ADB0BC;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55em;
}

.super {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-33deg);
  overflow: initial;
}

.super path {
  fill: none;
}

.super text {
  fill: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 4px;
}


/* 
.about__funFact-images {
  position: relative;
  max-width: 511px;
  margin: 60px 25px 0 auto;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .about__funFact-images {
    max-width: 510px;
    margin: 60px auto 30px;
  }
}
@media (max-width: 767.98px) {
  .about__funFact-images {
    max-width: 400px;
    margin: 60px 25px 30px 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about__funFact-images {
    max-width: 480px;
    margin: 60px 40px 30px 0;
  }
}

.about__funFact-images .main-img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 382px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  .about__funFact-images .main-img {
    max-width: 315px;
  }
}
@media (max-width: 991.98px) {
  .about__funFact-images .main-img {
    max-width: 350px;
  }
}
@media (max-width: 767.98px) {
  .about__funFact-images .main-img {
    max-width: 260px;
  }
}
.about__funFact-images:hover::after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  height: calc(100% + 0px);
} */


.about-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(/images/trophy_color.png);
  width: 95px;
  height: 96px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.rotats {
  animation: mykdRotation 12s linear infinite;
  animation-play-state: running;
}

@keyframes mykdRotation {
  100% {
    transform: rotate(360deg);
  }
}



/* World-news */
.world-news-area {
  background: #171821;
  padding: 80px 0 50px;
}

.world-news-item {
  position: relative;
}

.world-news-item .banner-magazine-thumb {
  overflow: hidden;
  position: relative;
}

img {
  transition: transform 0.3s ease;
  /* 平滑过渡效果 */
}

.world-news-item .banner-magazine-thumb img {
  border-radius: 4px;
}


.trend-news-thumb:hover img,
.business-news-post:hover img,
.world-news-item .banner-magazine-thumb:hover img {
  transform: scale(1.4);
}

.world-news-item .banner-magazine-thumb::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #544a7d;
  background: -webkit-linear-gradient(to bottom, transparent, #111111);
  background: linear-gradient(to bottom, transparent, #111111);
  opacity: .45;
}

.world-news-item .banner-magazine-content {
  left: 30px;
  bottom: 30px;
  right: 30px;
  width: 72%;
}

.world-news-item .banner-magazine-thumb .tags {
  right: 25px;
  top: 25px;
  left: 25px;
}

.world-news-item .banner-magazine-content .date {
  color: #dddcdb;
}

.business-news-post {
  overflow: hidden;
  margin-bottom: 50px;
}

.business-news-post img {
  max-width: 100%;
}

.banner-magazine-active {
  margin: 0 -4px;
}

.banner-magazine-item {
  position: relative;
  max-width: 403px;
  padding: 0 4px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 1);
}

.banner-magazine-thumb {
  position: relative;
}

.banner-magazine-thumb img {
  max-width: 100%;
}

.banner-magazine-thumb .tags {
  position: absolute;
  right: 15px;
  top: 15px;
  left: 15px;
  text-align: right;
}

.banner-magazine-thumb .tags>a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #bcee0e;
  color: #2a2c36;
  display: inline-block;
  padding: 3px 11px;
  border-radius: 4px;
  box-shadow: 0px 3px 10px 0px rgba(39, 39, 40, 0.36);
  margin-left: 5px;
}

.banner-magazine-content {
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 1;
  right: 25px;
  width: 72%;
}

.banner-magazine-content .date {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #bcee0e;
  margin-bottom: 5px;
}

.banner-magazine-content .title {
  margin-bottom: 0;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

.banner-magazine-content .title a:hover {
  color: #fff;
}

.banner-magazine-item::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 0;
  right: 4px;
  height: 3px;
  background: #bcee0e;
  z-index: 1;
  transition: .3s linear;
  opacity: 0;
}



/* Trend-news */
.trending-news-area {
  background: #24252f;
  padding: 80px 0 80px;
}

.trending-news-area .hf-section-title .title::before,
.world-news-area .hf-section-title .title::before,
.live-streaming-two .hf-section-title .title::before,
.latest-game-news-area .hf-section-title .title::before {
  background: #bcee0e;
}

.trend-news-thumb,
.trending-news-item {
  position: relative;
  overflow: hidden;
}

/* .trending-news-item {
  margin-bottom: 40px;
} */

.trending-news-item.overlay-item .trend-news-thumb::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #544a7d;
  background: -webkit-linear-gradient(to bottom, transparent, #111111);
  background: linear-gradient(to bottom, transparent, #111111);
  opacity: .37;
}

.trend-news-thumb img {
  max-width: 100%;
}

.trending-news-item.overlay-item .trend-news-content {
  position: absolute;
  left: 30px;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  width: 75%;
}

.trend-news-content .tags {
  margin-bottom: 11px;
}

.trend-news-content .tags>a {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #e84023;
  color: #fff;
  display: inline-block;
  padding: 3px 11px;
  border-radius: 4px;
  box-shadow: 0px 3px 10px 0px rgba(39, 39, 40, 0.36);
  margin-right: 5px;
  min-width: 70px;
  text-align: center;
}

.trend-news-content .date {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #dddcdb;
  margin-bottom: 5px;
}

.trend-news-content .title {
  margin-bottom: 0;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

.trend-news-content .title a:hover,
.sidebar-popular-item .sp-content .title a:hover {
  color: #bcee0e;
}

.trending-news-item.overlay-item {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);
}

.trending-news-item.horizontal-item {
  display: flex;
  align-items: center;
  border: none;
}

.trending-news-item.horizontal-item .trend-news-thumb {
  width: 119px;
  flex: 0 0 119px;
  margin-right: 20px;
}

.trending-news-item.yellow .trend-news-content .tags>a {
  background: #ea8f00;
}

.trending-news-item.blue .trend-news-content .tags>a {
  background: #007bff;
}

.trending-news-head,
.business-news-head {
  display: flex;
  align-items: center;
}

.trending-news-nav,
.business-news-nav,
.community-news-nav {
  margin-left: auto;
}

.trending-news-nav button,
.business-news-nav button,
.community-news-nav button {
  border: none;
  padding: 0;
  width: 23px;
  height: 20px;
  line-height: 20px;
  background: #fff;
  color: #24252f;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s linear;
}

.trending-news-nav button.slick-next,
.business-news-nav button.slick-next,
.community-news-nav button.slick-next {
  margin-left: 7px;
}

.trending-news-nav button:hover,
.business-news-nav button:hover,
.community-news-nav button:hover {
  background: #c8ff0b;
}

.home-sidebar-news .hf-section-title .title {
  font-size: 22px;
}

.sidebar-popular-item .sp-thumb {
  margin-bottom: 15px;
}

.sidebar-popular-item .sp-thumb img {
  max-width: 100%;
}

.sidebar-popular-item .sp-content .date {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #dddcdb;
}

.sidebar-popular-item .sp-content .title {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-weight: 600;
}

.sidebar-popular-item {
  margin-bottom: 25px;
}

.popular-banner-ad img {
  max-width: 100%;
  box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 30%);
}

.magazine-banner-ad img {
  max-width: 100%;
}

.magazine-banner-ad {
  margin-top: 40px;
}
