.forth {
  --tg-theme-primary: #45f882;

  width: 100%;
  background-color: #09090B;
  min-height: 1280px;
}




/* swiper */

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
