/* 11. Team */
.section-title.title-style-two {
  position: relative;
  padding-bottom: 25px;
}

.section-title.title-style-two::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(https://themebeyond.com/demo/haldalive/wp-content/themes/halda/assets/img/images/section_line.png);
  height: 8px;
  width: 120px;
  margin: 0 auto;
}
.section-title.title-style-three::before {

  background-image: url(/images/bottom-border.png) !important;
  background-repeat: no-repeat !important;
 
}

.section-title.title-style-two .title {
  font-size: 40px;
  margin-bottom: 0;
}

.single-thumb {
  margin-bottom: 40px;
  width: calc(100% / 8);
  text-align: center;
}

.single-thumb a>img {
  border: 2px solid #282931;
  border-radius: 50%;
  transition: .3s linear;
  display: inline-block;
  position: relative;
}

.single-thumb a {
  position: relative;
}

.single-thumb a::before {
  content: "\f0c1";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 40px;
  opacity: 0;
  color: #ff8503;
  transition: .3s linear;
}

.single-thumb:hover a>img {
  border-color: #ff8503;
}

.single-thumb:hover a:hover::before {
  opacity: 1;
  z-index: 1;
}

.team-area-two .team-thumb img {
  width: 100%;
}

.team-area-two {
  background-position: bottom center;
  background-size: cover;
  padding: 110px 0 87px;
}

.counter-area-two {
  padding: 35px 0 0;
}

/* 12. Squad-area */
.our-squad-area {
  padding: 130px 0 120px;
}

.squad-item {
  margin: 0 0 50px;
}

.squad-thumb a {
  display: block;
}

.squad-thumb img {
  width: 100%;
  border: 2px solid #242424;
}

.squad-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px 0 30px;
  border-bottom: 2px solid #242424;
}

.squad-info .title {
  font-size: 24px;
  margin-bottom: 5px;
}

.squad-info>span {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
}

.squad-social {
  margin-left: 20px;
  text-align: right;
}

.social-list {
  display: flex;
  align-items: center;
  line-height: 1;
  justify-content: flex-end;
  margin: 0 0 15px;
}

.social-list>a {
  color: #bababa;
  margin: 0 0 0 11px;
}

.social-list>a:first-child {
  margin: 0;
}

.squad-social .follow-us {
  display: block;
  text-transform: uppercase;
  line-height: 1;
  font-size: 13px;
  color: #ff8503;
}

.social-list>a:hover {
  color: #ff8503;
}

.load-more-squad {
  margin: 20px 0 0;
}

.load-more-squad .btn {
  font-size: 16px;
}

.give-player-bg {
  background-position: top center;
  background-size: cover;
}

.gp-item-top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.gp-item-top .title {
  font-size: 20px;
  margin-bottom: 0;
  margin-right: 25px;
  word-break: break-all;
}

.gp-item .gp-item-top img {
  max-width: 45px;
}

.gp-content p {
  margin-bottom: 0;
}

.gp-img img {
  width: 100%;
}

.gp-item.right .gp-item-top .title {
  margin-right: 0;
  margin-left: 25px;
}






.pq-client-box.pq-client-style-1 {
  display: block;
  overflow: hidden;
  position: relative
}

.pq-fancy-box.pq-style-1 {
  padding: 45px 30px;
  transition: all .5s ease;
  background: var(--grey-color);
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  min-height: 340px
}


.pq-section-title-style-1 .pq-section-main-title {
  font-size: 52px;
  line-height: 60px;
  height: 120px;
  z-index: 9;
  color: var(--white-color);
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px
}

.pq-fancy-box.pq-style-1 .pq-fancy-box-bg {
  position: absolute;
  left: 25%;
  top: 25%;
  width: 60%;
  height: 100%;
  opacity: 1;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out
}


.pq-client-img {
  position: relative;
  display: block;
  width: auto;
  margin: 0 auto;
  transition: transform .3s ease;
  opacity: .8
}

.pq-client-box:hover .pq-client-img {
  transform: translateY(100%)
}

.pq-client-box:hover .pq-client-hover-img {
  transform: translate(-50%, 0)
}

.pq-client-hover-img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  transform: translate(-50%, -100%);
  transition: transform .3s ease
}
