.dark,
[data-theme="dark"] .menu--2:hover path,
.menu--2_invert:hover path {
  stroke: #fff
}

.menu--2:hover path,
.menu--2_invert:hover path {
  stroke: #000
}

.menu--2 input,
.menu--2_invert input {
  display: none
}

.menu--2 label,
.menu--2_invert label {
  display: block;
  cursor: pointer;
  width: 80px;
  height: 80px;
  bottom: 0;
  left: 0
}

.dark,
[data-theme="dark"] .menu--2 path,
.menu--2_invert path {
  stroke: #fff;
}

.menu--2 path,
.menu--2_invert path {
  fill: none;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all .8s cubic-bezier(.645, .045, .355, 1)
}

.menu--2 .line--1,
.menu--2 .line--3,
.menu--2_invert .line--1,
.menu--2_invert .line--3 {
  --total-length: 111.22813415527344;
  --offset: -50.22813415527344
}

.menu--2 .line--2,
.menu--2_invert .line--2 {
  --total-length: 99
}

.menu--2 input:checked+svg path,
.menu--2_invert input:checked+svg path {
  transform: translateX(30px)
}

.menu--2 input:checked+svg .line--1,
.menu--2 input:checked+svg .line--3,
.menu--2_invert input:checked+svg .line--1,
.menu--2_invert input:checked+svg .line--3 {
  --offset: -16.9705627485
}

.menu--2 input:checked+svg .line--2,
.menu--2_invert input:checked+svg .line--2 {
  --offset: -20;
  --length: 0
}

.menu--2_invert path {
  stroke: #000;
}

.dark,
[data-theme="dark"] .menu--2_invert path {
  stroke: #fff
}

.dark,
[data-theme="dark"] .menu--2_invert:hover path {
  stroke: #fff;
}

.menu--2_invert:hover path {
  stroke: #000
}

@media only screen and (max-width: 640px) {

  .menu--2:hover path,
  .menu--2_invert:hover path {
    stroke: #000
  }

  .dark,
  [data-theme="dark"] .menu--2:hover path,
  .menu--2_invert:hover path {
    stroke: #fff
  }

  .menu_container {
    right: 12px
  }
}


/* header-btn */

.dark,
[data-theme="dark"] .tg-border-btn {
  color: white;
}

.tg-border-btn {
  display: inline-flex;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  letter-spacing: 0.8px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg width='157' height='48' viewBox='0 0 157 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_1_14)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M131.75 2L155.75 25L131.75 47L148.75 24L131.75 2Z' fill='%2345F882'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M25 1L1 24.5111L25 47L8 23.4889L25 1Z' fill='%2345F882'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.75 1L0.75 25L23.75 47H131.75L155.75 25L131.75 1H24.75Z' stroke='%2345F882' stroke-width='1.5'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_1_14'%3e%3crect width='156.5' height='47.5' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 157px;
  min-height: 48px;
  z-index: 1;
}

.tg-border-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #45f882;
  clip-path: polygon(27px 0, calc(85% - 3px) 0, 100% 50%, calc(85% - 1px) 100%, 24px 100%, 0% 50%);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  z-index: -1;
}

.tg-border-btn i {
  margin-right: 10px;
}

.tg-border-btn:hover {
  color: #000;
}

.tg-border-btn:hover::before {
  opacity: 1;
}
